name: Publish Maven Package

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Set up Maven
        uses: stCarolas/setup-maven@07fbbe97d97ef44336b7382563d66743297e442f # v4.5
        with:
          maven-version: 3.8.2

      - name: Cache Maven packages
        uses: actions/cache@f5ce41475b483ad7581884324a6eca9f48f8dcc7 # v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Publish to GitHub Packages
        run: |
          REPO="github::default::https://maven.pkg.github.com/${{github.repository}}"
          mvn -B deploy -DaltReleaseDeploymentRepository="${REPO}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}